// colors
$body-bg: #fff;
$footer-bg: #E5E5E5;
$nav-link-color: #2A2A2A;
$stepper-color: #2A2A2A;
$border-color:#000;
$label-title-color: #808080;
$form-border: 1px solid #4A4A4A;
$placeholder-color: #999999;
$select-color:#2A2A2A;


// common
@mixin rectangle($w,$h){
  width: $w;
  height: $h;
}

%input-style{
  @include rectangle(auto, 40px);
  border:$form-border;
  border-radius: 4px;
  padding: 0 16px;
}

// nav
.navbar{
  @include rectangle(100%, 56px);
  position: relative;
  line-height: 56px;
  z-index: 99;

  .navbar-toggle{
    @include rectangle(0px, auto);
    &::before{
      position: absolute;
      @include rectangle(20px, 15px);
      content: '';
      background-image: url('../img/hamburger.svg');
      background-size: contain;
      left: 17px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
    }
  }

  .navbar-container{
    flex-direction: column;
    position: absolute;
    top: 100%;
    background-color: $body-bg;
    transition: transform 0.3s ease-out;
    transform-origin: top;
    transform: scale(1, 0);
  }

  .navbar-toggle:checked ~ .navbar-container {
    transform: scale(1, 1);
  }

  .nav-item {
    /*預設透明度 0*/  
    opacity: 0;
  }

  .navbar-toggle:checked ~ .navbar-container .nav-item {
    /*增加轉場效果*/
    transition: opacity 0.2s ease-out 0.2s;
    opacity: 1;
  }

  .mobile-logo{
    a{
      @include rectangle(136px, 56px);
      line-height: 56px;
      img{object-fit: contain}
    }
  }

  .nav-item{
    @include rectangle(100%, auto);
    &.logo{display: none;}
    .icon{
      margin: 0 21px;
      a{
        @include rectangle(24px, 56px);
        display: block;
        line-height: 56px;
      }
    }
  }

  .nav-item + .nav-item{
    border-top: 2px solid rgba(42, 42, 42, 0.1);
  }
}

// step panel
.stepper-panel{
  .stepper-container{
    .step{
      position: relative;
      flex: 1;
      .circle-container{
        @include rectangle(32px, 32px);
        line-height: 32px;
        border-radius: 50%;
        border: 1px solid $stepper-color;
        position: relative;
      }
      .connect-line{
        @include rectangle(60px, 2px);
        position: absolute;
        top: 12px;
        right: calc(50% + 32px);
        left: calc(-50% + 32px);
        background-color: $border-color;
      }
    }
  }

  .step-label{
    display: none;
  }
}

// form part 1
.form-container{
  .form-title{
    margin-bottom: 24px;
  }

  .form-group {
    display: grid;
    &.name-group{
      grid-template-columns: repeat(5, 1fr);
      gap:30px;
      div:first-child{
        grid-column: span 2;
      }
      div:nth-child(2){
        grid-column: span 3;
      }
    }
    &.phone-group{
      grid-auto-flow: row;
    }
    &.address-group{
      grid-auto-flow: row;
    }

    > div{
      display: flex;
      flex-direction: column;
      margin-bottom: 16px;
      select,input{
        @extend %input-style;
        &:invalid {
          color: $placeholder-color;
        }
      }

      .select-wrapper{
        position: relative;
        &::before{
          position: absolute;
          content: '';
          @include rectangle(0px, 0px);
          border-left: 5px solid transparent;
          border-right: 5px solid transparent;
          border-top: 9px solid $select-color;
          top: 50%;
          right: 18px;
          transform: translateY(-50%);
          pointer-events: none;

        }
      }

      select{
        &::placeholder{color: $placeholder-color;}
      }
    }
  }

  .form-label-title{
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    color: $label-title-color;
    margin-bottom: 8px;
  }
}



@media(min-width:375.98px){
  .navbar{
    @include rectangle(100%, 60px);
    line-height: 60px;

    .navbar-container{
      flex-direction: row;
      padding-left:166px;
      padding-right: 166px;
      position: relative;

      .nav-item{
        margin: 0 16px;
        &.logo {
          flex:1;
          margin-left: 5rem;
          .nav-link{
            @include rectangle(170px, auto);
            max-width: 170px;
            img{
              @include rectangle(100%, 100%);
              object-fit: contain;
            }
          }
        }
      }
    }
  }
}