// colors
$body-bg: #fff;
$footer-bg: #E5E5E5;
$nav-link-color: #2A2A2A;
$stepper-color: #2A2A2A;
$border-color:#000;
$label-title-color: #808080;
$form-border: 1px solid #4A4A4A;
$placeholder-color: #999999;
$select-color:#2A2A2A;
$btn-next-bg:#F67599;
$container-border:1px solid #F0F0F5;
$radio-bg:#fff;
$radio-shadow:inset 0px 0px 0px 5px black;


// common
@mixin rectangle($w,$h){
  width: $w;
  height: $h;
}

@mixin grid-style($num,$gap){
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat($num, 1fr);
  gap:$gap;
}

%input-style{
  @include rectangle(auto, 40px);
  border:$form-border;
  border-radius: 4px;
  padding: 0 16px;
}

%btn-style{
  @include rectangle(auto, 46px);
  line-height: 46px;
  color: #fff;
  border-radius: 8px;
}

%form-title-style{
  font-size: 24px;
  margin-bottom: 24px
}

// nav
.navbar{
  @include rectangle(100%, 56px);
  position: relative;
  line-height: 56px;
  z-index: 99;

  &_container{
    flex-direction: column;
    position: absolute;
    top: 100%;
    background-color: $body-bg;
    transition: transform 0.3s ease-out;
    transform-origin: top;
    transform: scale(1, 0);
  }

  &_toggle{
    @include rectangle(0px, auto);
    &::before{
      position: absolute;
      @include rectangle(20px, 15px);
      content: '';
      background-image: url('../img/hamburger.svg');
      background-size: contain;
      left: 17px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
    }
  }

  &_toggle:checked ~ &_container {
    transform: scale(1, 1);
  }

  &_wrap{
    flex-direction: column;
    width: 100%;
  }

  &_item{
    opacity: 0;
    @include rectangle(100%, auto);
    &:not(:first-child){
      border-top: 2px solid rgba(42, 42, 42, 0.1);
    }
    &_icon{
      margin: 0 21px;
      a{
        @include rectangle(24px, 56px);
        display: block;
        line-height: 56px;
      }
    }
  }

  &_toggle:checked ~ &_container &_item {
    /*增加轉場效果*/
    transition: opacity 0.2s ease-out 0.2s;
    opacity: 1;
  }

  &_logo{
    a{
      @include rectangle(136px, 56px);
      line-height: 56px;
      img{object-fit: contain}
    }
  }
}

// main
.main-container{  
  &_btn-group{
    .btn{
      @extend %btn-style;
      flex:1;
      &--prev{
        color: black;
      }
      &--next{
        background-color: $btn-next-bg;
      }
    }
  }


  &_left{
    // step panel
    .stepper-panel{
      margin-bottom: 24px;
      .stepper-container{
        &_step{
          position: relative;
          &_circle{
            @include rectangle(32px, 32px);
            line-height: 32px;
            border-radius: 50%;
            border: 1px solid $stepper-color;
            position: relative;
          }
          &_label{
            display: none
          }
          &_line{
            @include rectangle(60px, 2px);
            background-color: $border-color;
            align-self:center;
          }
        }
      }
    }
    &_form{
      &_title{
        @extend %form-title-style
      }
      &_group{
        &--name{
          display: grid;
          grid-template-columns: repeat(5, 1fr);
          gap:30px;
          > div:first-child{
            grid-column: span 2;
          }
          > div:nth-child(2){
            grid-column: span 3;
          }
        }
        &--phone{
          display: grid;
          grid-auto-flow: row;
        }
        &--address{
          display: grid;
          grid-auto-flow: row;
        }
        &--cardnum{
          display: grid;
          grid-template-columns:1fr 1fr;
          gap:30px;
        }
        &_item{
          display: flex;
          flex-direction: column;
          margin-bottom: 16px;
          select,input{
            @extend %input-style;
            &:invalid {
              color: $placeholder-color;
            }
          }
          label{
            font-size: 12px;
            font-weight: bold;
            line-height: 16px;
            color: $label-title-color;
            margin-bottom: 8px;
          }
          &_select{
            position: relative;
            &::before{
              position: absolute;
              content: '';
              @include rectangle(0px, 0px);
              border-left: 5px solid transparent;
              border-right: 5px solid transparent;
              border-top: 9px solid $select-color;
              top: 50%;
              right: 18px;
              transform: translateY(-50%);
              pointer-events: none;

            }
          }
          select{
            &::placeholder{color: $placeholder-color;}
          }
        }
      }
      &_address{
        padding: 11px 20px;
        border: $container-border;
        border-radius: 4px;
        margin-bottom: 24px;
      }
    }
  }

  &_right{
    &_title{
      @extend %form-title-style
    }
    &_box{
      border: $container-border;
      padding-top: 18px;
      padding-left: 16px;
      padding-right: 16px;
      border-radius: 8px;
      &_item{
        margin-bottom: 18px;
        &_img{
          @include rectangle(100px, 100px)
        }
        &_index{
          flex: 1;
        }
      }
      &_delivery, &_total{
        padding: 18px 0px;
        border-top: $container-border;
      }
    }
  }

  input[type="radio"]{
    margin-right: 20px;
    border: 1px solid black;
    background: $radio-bg;
    @include rectangle(20px, 20px);
    border-radius: 50%;
    &:active,&:checked{
      box-shadow: $radio-shadow;
    }
  }
}



@media(min-width:375.98px){
  .navbar{
    position: relative;
    @include rectangle(100%, 60px);
    line-height: 60px;
    &_toggle{display: none;}
    &_container{
      justify-content: space-between;
      flex-direction: row;
      padding-left:166px;
      padding-right: 166px;
      position: relative;
      transform: scale(1,1);
      top: 0;
    }
    &_wrap{
      flex-direction: row;
      width: auto;
    }
    &_item{
      opacity: 1;
      border-top: none;
      @include rectangle(auto, auto);
      &_link{
        @include rectangle(170px, auto);
        max-width: 170px;
        img{
          @include rectangle(100%, 100%);
          object-fit: contain;
        }
      }
      &:last-child{
        justify-content: end;
      }
      &:first-child{
        margin-right: 32px;
      }
    }
    &_item + &_item{
      margin-right: 32px;
    }
    &_logo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      z-index: 99;
    }
  }

  .main-container{
    &_wrap{
      @include grid-style(2,0px 130px);
      grid-template-rows: repeat(2,1fr);
    }
    &_left{
      grid-column: 1/1;
      .stepper-panel{
        .stepper-container{
          &_step{
            display: flex;
            &_circle{
              @include rectangle(24px, 24px);
              line-height: 24px;
            }
            &_label{
              display: block;
              margin-left: 8px;
            }
          }
        }
      }
      &_form{
        &_group{
          &--name{
            @include grid-style(6,30px);
            > div:first-child{
              grid-column: span 2;
            }
            > div:nth-child(2){
              grid-column: span 4;
            }
          }
          &--phone{
            @include grid-style(2,30px);
          }
          &--address{
            @include grid-style(6,30px);
            > div:first-child{
              grid-column: span 2;
            }
            > div:nth-child(2){
              grid-column: span 4;
            }
          }
          &_item{
            input[name="card-number"],input[name="card-holder"]{
              width: fit-content;
              min-width: 350px;
            }
          }
        }
      }
    }
    &_right{
      grid-column: 2/3;
    }
  } 
}